version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: chat_interface_backend
    volumes:
      - ./backend:/app
      - ./backend/db.sqlite3:/app/db.sqlite3
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    image: nginx:alpine
    container_name: chat_interface_frontend
    volumes:
      - .:/usr/share/nginx/html
    ports:
      - "5500:80"
    depends_on:
      - backend
    restart: always
